@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400&display=swap");

/* font-family: 'Courier Prime', monospace; */

/* ROOT STYLING */
:root {
  --light: #f8f9fa;
  --secondary: #adb5bd;
  --dark: #343a40;
  --primary-color: #f15bb5;
  --secondary-color: #2ec4b6;
  --border: #e9ecef;
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Courier Prime", monospace;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
/* GLOBAL STYLING */
.text-light {
  color: var(--light);
}
.text-secondary {
  color: var(--secondary);
}
.text-dark {
  color: var(--dark);
}
.text-primary {
  color: var(--primary-color);
}
.bg-light {
  background-color: var(--light);
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
}
/* SECTION STYLING */
/* NAVIGATION MENU STYLING */
.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.nav-brand {
  font-weight: bold;
  align-self: center;
  font-size: 32px;
}
.collapse {
  align-self: center;
}
.nav-link {
  font-size: 18px;
  margin: 12px;
  color: var(--dark);
}
.nav-link:hover {
  color: var(--primary-color);
}
.search-box {
  display: inline;
  border-right: 1px solid var(--secondary);
  padding-right: 12px;
  margin-right: 10px;
}
.toggle-button {
  font-size: 21px;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  margin: 8px 10px;
  display: none;
}
.toggle-button:focus {
  outline: none;
}
/* END OF NAVIGATION MENU STYLING*/
/* MEDIA QUERY FOR HEADER SECTION */
@media (max-width: 1031px) {
  .navbar {
    flex-direction: column;
  }
}
@media (max-width: 630px) {
  .toggle-button {
    display: initial;
  }
  .collapse {
    max-height: 0;
    overflow: hidden;
    transition: all 0.8s ease-in;
  }
  .collapse .nav-link {
    display: block;
    text-align: center;
  }
  .search-box {
    border-right: none;
  }
  .collapse-toggle {
    max-height: 500px;
  }
}
/* END OF MEDIA QUERY FOR HEADER SECTION */
